body {
  background-image: url("images/flower-petals-blue-forget-me-600nw-2512689045.jpg");
  font: 16px "Comic Sans MS", sans-serif;
}
/* .vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.circle-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
} */
.image-cover {
  object-fit: cover;
  width: 100%;
}
.my-list {
  font-size: 1.2vw; /* 1.2% of the viewport width */
  max-width: 50ch; /* 50 character units */
  word-wrap: break-word;
  line-height: 1.4;
}
.my-list li {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  /* styles for small screens and up */
  .my-list {
    font-size: 2.4vw;
    max-width: 100ch;
  }
}
.my-header {
  background-color: #82b9f8;
}
h1 {
  color:black
}

.card-bio {
  background-image: url("images/Bombardiro_Crocodillo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card-edu {
  background-image: url("images/image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card-exp {
  background-image: url("images/Tung_tung_tung_sahur.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card-con {
  background-image: url("images/cat.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;  
}
.mb-2 {
  color:rgb(0, 0, 0);
  font-size:larger;
}
ul li {
  background-color: white;
  font-size: larger;
}
h2, p, h3 {
  background-color: aliceblue;
  padding: 10px;
  background-clip: padding-box;
}
footer {
  color:black
}